h1 {
	color: darkblue;
	font-size:60px;
}

h2 {
	color: red;
	font-size:50px;
}

h3 {
	color: yellow;
	font-size:40px;
}

h4 {
	color: green;
	font-size:30px;
}

body {
	background: #f4f4f4;
}

#demo{
	font-size: 12px;
	color: darkblue;
}